In [50]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

## Importing Weather and Energy Tables from Trusted Zone

In [51]:
# Create an engine instance
conn_string = 'postgresql://postgres:ETS80321123GOM1!@localhost:5432/trusted_zone'
db = create_engine(conn_string)

# Connect to PostgreSQL server
conn = db.connect()

# Read weather data from PostgreSQL database table and load into weather_df
weather_df = pd.read_sql('select * from "weather"', conn)
pd.set_option('display.expand_frame_repr', False)

# Read energy data from PostgreSQL database table and load into energy_df
energy_df = pd.read_sql('select * from "energy"', conn)
pd.set_option('display.expand_frame_repr', False)

# Print DataFrame Summaries
print('-'*30 + '\n' + 'Weather Data Summary\n' + '-'*30)
print(weather_df.info())
print(weather_df.head())

print('\n'*2 + '-'*30 + '\n' + 'Energy Data Summary\n' + '-'*30)
print(energy_df.info())
print(energy_df.head())

# Close the database connection
conn.close()

------------------------------
Weather Data Summary
------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15341 entries, 0 to 15340
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            15341 non-null  datetime64[ns]
 1   cloud_cover     15341 non-null  float64
 2   Q_CC            15341 non-null  int64
 3   sunshine        15341 non-null  int64
 4   Q_SS            15341 non-null  int64
 5   glob_radiation  15341 non-null  float64
 6   Q_QQ            15341 non-null  int64
 7   max_temp        15341 non-null  float64
 8   Q_TX            15341 non-null  int64
 9   mean_temp       15341 non-null  float64
 10  Q_TG            15341 non-null  int64
 11  min_temp        15341 non-null  float64
 12  Q_TN            15341 non-null  int64
 13  precipitation   15341 non-null  float64
 14  Q_RR            15341 non-null  int64
 15  pressure        15341 non-null  float64
 16  Q_PP            15341 non-null  int64
dtypes: datetime64[ns](1), float64(7), int64(9)
memory usage: 2.0 MB
None
        date  cloud_cover  Q_CC  sunshine  Q_SS  glob_radiation  Q_QQ  max_temp  Q_TX  mean_temp  Q_TG  min_temp  Q_TN  precipitation  Q_RR  pressure  Q_PP
0 1979-01-01          2.0     0        70     0            52.0     0      23.0     0      -41.0     0     -75.0     0            4.0     0   10190.0     0
1 1979-01-02          6.0     0        17     0            27.0     0      16.0     0      -26.0     0     -75.0     0            0.0     0   10253.0     0
2 1979-01-03          5.0     0         0     0            13.0     0      13.0     0      -28.0     0     -72.0     0            0.0     0   10205.0     0
3 1979-01-04          8.0     0         0     0            13.0     0      -3.0     0      -26.0     0     -65.0     0            0.0     0   10084.0     0
4 1979-01-05          6.0     0        20     0            29.0     0      56.0     0       -8.0     0     -14.0     0            0.0     0   10225.0     0


------------------------------
Energy Data Summary
------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3510433 entries, 0 to 3510432
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   LCLid   object
 1   Date    object
 2   KWH     float64
dtypes: float64(1), object(2)
memory usage: 80.3+ MB
None
       LCLid        Date     KWH
0  MAC000002  2012-10-12   7.098
1  MAC000002  2012-10-13  11.087
2  MAC000002  2012-10-14  13.223
3  MAC000002  2012-10-15  10.257
4  MAC000002  2012-10-16   9.769

## Weather Table Preparation for Integration
**Steps to complete:**
- Removing 'Q_' values
    - This is not essential for integration but we no longer have any use for 'Q_' columns moving forward
- Proper unit scaling of each measurement
    - This is also not essential but will be done to simplify necessary processes for creating proper visualizations in the Feature Generation Zone
- Selecting a range of dates for weather measurements that is also available in our energy consumption table (2011-11-23 to 2014-02-28)
    - This is a necessary step in order to integrate both datasets

### Removing `Q_` values from Weather Data
We can do this at this point in the pipeline because observations with values of 9 (missing) were already treated in the Trusted Zone

In [52]:
# dropping all 'Q_' columns from dataset
weather_df = weather_df.drop(['Q_CC', 'Q_SS', 'Q_QQ', 'Q_TX', 'Q_TG', 'Q_TN', 'Q_RR', 'Q_PP', ], axis=1)

### Unit scaling of measurements
- `cloud_cover` measurement in **oktas**
    - will be left as **oktas**
- `sunshine` measurement in **0.1 Hours**
    - will be scaled to **1 Hours**
- `glob_radiation` measurement in **W/m2**
    - will be left as **W/m2**
- `max_temp` measurement in **0.1 °C**
    - will be scaled to **1 °C**
- `mean_temp` measurement in **0.1 °C**
    - will be scaled to **1 °C**
- `min_temp` measurement in **0.1 °C**
    - will be scaled to **1 °C**
- `precipitation` measurement scaled in **0.1 mm**
    - will be scaled to **1 mm**
- `pressure` measurement in **0.1 hPa**
    - will be scaled to **1 hPa**
    
If all calculations are applied correctly:
- all measurements for the describe() method will show a reduction for each scaled value (except count) corresponding to a division by 10

In [53]:
# scaling weather measurement units
weather_df['sunshine'] = weather_df['sunshine'].apply(lambda x: x / 10) # sunshine
weather_df['max_temp'] = weather_df['max_temp'].apply(lambda x: x / 10) # max_temp
weather_df['mean_temp'] = weather_df['mean_temp'].apply(lambda x: x / 10) # mean_temp
weather_df['min_temp'] = weather_df['min_temp'].apply(lambda x: x / 10) # min_temp
weather_df['precipitation'] = weather_df['precipitation'].apply(lambda x: x / 10) # precipitation
weather_df['pressure'] = weather_df['pressure'].apply(lambda x: x / 10) # pressure

In [54]:
# greater than the start date and smaller than the end date
start_date = '2011-11-23'
end_date = '2014-02-28'
date_mask = (weather_df['date'] >= start_date) & (weather_df['date'] <= end_date)
# mapped weather data
mapped_weather_df = weather_df.loc[date_mask]

In [55]:
mapped_weather_df

            date  cloud_cover  sunshine  glob_radiation  max_temp  mean_temp  min_temp  precipitation  pressure
12014 2011-11-23          7.0       2.0            35.0      13.5        6.8       2.6            0.2    1027.2
12015 2011-11-24          3.0       2.0            35.0      12.5        8.6       3.7            0.2    1027.1
12016 2011-11-25          3.0       5.0            52.0      14.0       11.0       9.5            0.0    1024.5
12017 2011-11-26          4.0       0.7            24.0      13.9       10.2       6.3            0.0    1025.8
12018 2011-11-27          3.0       5.9            55.0      13.2       11.8       9.7            0.0    1021.3
...          ...          ...       ...             ...       ...        ...       ...            ...       ...
12838 2014-02-24          4.0       4.4            82.0      10.7       10.9       6.8            3.2    1005.0
12839 2014-02-25          5.0       2.0            60.0      11.8        9.4       8.1            2.6    1000.5
12840 2014-02-26          1.0       7.7           111.0      12.0        7.4       2.9            2.8    1012.7
12841 2014-02-27          4.0       4.9            90.0       8.4        8.9       5.7            4.8    1007.0
12842 2014-02-28          7.0       1.0            50.0      10.1        5.1       1.8            3.4     998.9

[829 rows x 9 columns]

## Energy Table Preparation for Integration

**Steps to complete:**
- Aggregating the energy consumption of all households per day
    - This will be done in order to properly map all daily weather measurements without hundreds of thousands of repetitions
        - Later in the data analysis phase we will attempt to find correlations between temperature and overall energy consumption of a city. We will do this by using our sample of 5567 households as a good predictor of our assumed population.

In [56]:
# Dropping 'LCLid' from energy_df
energy_df_byday = energy_df.drop(['LCLid'], axis=1)
# Sum of KWH by 'Date'
sum_energy_df_byday = energy_df_byday.groupby(['Date']).sum().reset_index()

# change 'Date' column type to datetime64 and renaming to 'date'
sum_energy_df_byday['Date'] = pd.to_datetime(sum_energy_df_byday['Date'])

In [57]:
sum_energy_df_byday

          Date           KWH
0   2011-11-23     90.385000
1   2011-11-24    213.412000
2   2011-11-25    303.993000
3   2011-11-26    420.976000
4   2011-11-27    444.883001
..         ...           ...
824 2014-02-24  51994.547004
825 2014-02-25  51423.508001
826 2014-02-26  50943.305995
827 2014-02-27  51678.185998
828 2014-02-28   2084.532000

[829 rows x 2 columns]

## Integrating Weather and Energy Datasets on `Date`
We can do this now that we have performed the necessary processes and have ensured that both tables are compatible (same date range and number of rows).

In [58]:
# sorting both dataframes by 'Date' thus ensuring compatibility
mapped_weather_df.sort_values(by='date')
sum_energy_df_byday.sort_values(by='Date')

# merging both dataframes
energy_vs_weather_df = pd.merge(sum_energy_df_byday, mapped_weather_df, how='outer', left_index=True, right_index=True)

# drop extra 'date' column
energy_vs_weather_df = energy_vs_weather_df.drop(['date'], axis=1)

In [61]:
# preview summary for merged dataset
print(energy_vs_weather_df.info())
print('\n')
print(energy_vs_weather_df.describe())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1658 entries, 0 to 12842
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            829 non-null    datetime64[ns]
 1   KWH             829 non-null    float64
 2   cloud_cover     829 non-null    float64
 3   sunshine        829 non-null    float64
 4   glob_radiation  829 non-null    float64
 5   max_temp        829 non-null    float64
 6   mean_temp       829 non-null    float64
 7   min_temp        829 non-null    float64
 8   precipitation   829 non-null    float64
 9   pressure        829 non-null    float64
dtypes: datetime64[ns](1), float64(9)
memory usage: 142.5 KB
None


                KWH  cloud_cover    sunshine  glob_radiation    max_temp   mean_temp    min_temp  precipitation     pressure
count    829.000000   829.000000  829.000000      829.000000  829.000000  829.000000  829.000000     829.000000   829.000000
mean   42895.909132     4.714437    3.853920      105.060314   14.521713   10.773462    6.978287       1.020119  1014.266623
std    20152.110830     2.349702    3.804145       84.492839    6.589194    5.725945    5.269492       1.529409    10.868390
min       90.385000     0.000000    0.000000       12.000000   -0.200000   -2.600000   -7.600000       0.000000   984.600000
25%    34439.920000     3.000000    0.300000       35.000000   10.000000    6.700000    2.900000       0.000000  1007.500000
50%    45972.851997     5.000000    2.900000       78.000000   13.300000    9.800000    6.700000       0.200000  1014.600000
75%    58860.151998     7.000000    6.300000      163.000000   19.100000   15.200000   11.300000       1.668634  1021.800000
max    82650.492003     8.000000   14.500000      333.000000   34.100000   25.400000   20.700000       6.400000  1041.200000

## Exporting Results to Exploitation Zone in PostgreSQL

In [63]:
# Create an engine instance
conn_string = 'postgresql://postgres:ETS80321123GOM1!@localhost:5432/exploitation_zone'
db = create_engine(conn_string)

# Connect to PostgreSQL server
conn = db.connect()

# Load energy vs weather from dataframe into PostgreSQL database table named energy
energy_vs_weather_df.to_sql('energy_vs_weather', con=conn, if_exists='replace', index=False)

# conn.commit()
conn.close()